<!DOCTYPE html>
<html>
<head>
    <title>Data Visualization</title>
</head>
<body>
    <h1>Data Visualization</h1>
    <h2>Lung Cancer Frequency by Gender</h2>
    <img src="/static/plots/lung_cancer_by_gender.png" alt="Lung Cancer by Gender">
    <h2>Smoking vs Non-Smoking Distribution</h2>
    <img src="/static/plots/smoking_distribution.png" alt="Smoking Distribution">
    <h2>Age Distribution</h2>
    <img src="/static/plots/age_distribution.png" alt="Age Distribution">
    <h2>Oxygen Saturation vs. Lung Cancer</h2>
    <img src="/static/plots/oxygen_saturation_vs_disease.png" alt="Oxygen Saturation vs Disease">
</body>
</html>